.video-card-card {
    mat-card-header {
        text-align: center;

        mat-card-title-group {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .video-card-video-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}